//---- CURSOR ----//

.budgetThumb,
.itemCategoryRadio label:hover,
.navLink li:hover,
.skillContainer button,
.svgBtn:hover {
  cursor: pointer;
}

//---- HEIGHT ----//

.containerItemReal img,
.listContainerItemReal img,
.textItemReal {
  height: 100%;
}

.logoRwf {
  height: 100px;
}

.dataIconSvg {
  height: 140px;
}

.containerSvg {
  height: 150px;
}

.listContainerItemReal {
  height: 200px;
}

.svgBtn {
  height: 1em;
}

.titleRealization {
  min-height: 100vh;
}

//---- TRANSITION ----//

.listLinkFooter a,
.navLink li,
.svgBtn {
  transition: color 0.5s ease-in-out;
  &:hover {
    transition: color 0.2s ease-in-out;
  }
}

//---- WIDTH ----//

.containerItemReal img,
.listContainerItemReal img,
.swiperContainer,
.textItemReal {
  width: 100%;
}

.containerRealization,
nav,
.infoRwf,
.titleRealization {
  width: 100vw;
}

.textItemReal a {
  width: 100px;
}

.containerSvg {
  width: 150px;
}

.listContainerItemReal {
  width: 250px;
}

.skill {
  width: calc(100% / 4);
}

.logoRwf {
  width: 250px;
}

.containerFooter,
.containerRealization,
.infoRwf,
.titleRealization {
  max-width: 1024px;
}
