//---- WIDTH ----//

.logoRwf {
  width: 250px;
}

.skillContainer {
  width: 100%;
}

nav,
.infoRwf {
  width: 100vw;
}

.infoRwf {
  max-width: 1000px;
}

//---- HEIGHT ----//

.logoRwf {
  height: 100px;
}

.svgBtn {
  height: 1em;
}

//---- BG COLOR ----//

body {
  background-color: $main-bg-color;
}

.socialBar {
  background-color: $secondary-bg-color;
}

//---- COLOR ----//

.logoRwf {
  color: $primary-text-color;
}

.swiperSlideText button,
.swiperSlideText h2,
.swiperSlideText h3 {
  color: $main-link-text-color;
}

.svgBtn {
  color: $main-link-text-color;

  &:hover {
    color: $main-link-text-color-hover;
    cursor: pointer;
  }
}

.navLink li {
  color: $primary-text-color;

  &:hover {
    color: $main-link-text-color;
    cursor: pointer;
  }
}

//---- TRANSITION ----//

.navLink li,
.svgBtn {
  &:hover {
    transition: color 0.2s ease-in-out;
  }
}

.navLink li {
  &:hover {
    transition: background-color 0.2s ease-in-out;
  }
}
