//---- BG COLOR ----//

body {
  background-color: $main-bg-color;
}

footer,
.socialBar {
  background-color: $secondary-bg-color;
}

//---- COLOR ----//

.blue {
  color: $firstColorFlag;
}

.red {
  color: $secondColorFlag;
}

.logoRwf,
.navLink li {
  color: $primary-text-color;
}

.swiperSlideText button,
.swiperSlideText h2,
.swiperSlideText h3 {
  color: $main-link-text-color;
}

footer,
.listLinkFooter li,
.listLinkFooter a:hover,
.svgBtn:hover {
  color: $main-link-text-color-hover;
}

.listLinkFooter a,
.navLink li:hover,
.svgBtn {
  color: $main-link-text-color;
}

//---- CURSOR ----//

.navLink li:hover,
.svgBtn:hover {
  cursor: pointer;
}

//---- HEIGHT ----//

.logoRwf {
  height: 100px;
}

.containerSvg {
  height: 150px;
}

.svgBtn {
  height: 1em;
}

//---- TRANSITION ----//

.listLinkFooter a,
.navLink li,
.svgBtn {
  transition: color 0.5s ease-in-out;
  &:hover {
    transition: color 0.2s ease-in-out;
  }
}

//---- WIDTH ----//

nav,
.infoRwf {
  width: 100vw;
}

.containerSvg {
  width: 150px;
}

.skill {
  width: calc(100% / 4);
}

.logoRwf {
  width: 250px;
}

.containerFooter,
.infoRwf {
  max-width: 1024px;
}
