.illustSvg {
  margin: 20px;
  width: 100%;
  height: auto;
}

.path1 {
  color: aqua;
}
.path2 {
  color: rosybrown;
}
.path3 {
  color: yellow;
}
.path4 {
  color: aqua;
}
.path5 {
  color: magenta;
}
.path6 {
  color: goldenrod;
}
.path7 {
  color: blueviolet;
}

.path8 {
  opacity: 0.5;
  color: green;
}
.path9 {
  color: rgb(60, 57, 240);
}

.path10 {
  color: rgb(130, 240, 57);
}

.path11 {
  color: rgb(240, 155, 57);
}

.logoRwfSvg {
  color: black;
}

.green {
  color: green;
}
