@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes changeColor {
  0%,
  100% {
    stroke: map-get($arrayColor, "black", "0");
    color: map-get($arrayColor, "black", "0");
  }
  50% {
    stroke: map-get($arrayColor, "green", "0");
    color: map-get($arrayColor, "green", "0");
  }
}
