.containerFooter,
.containerRealization,
.containerSvg,
.listLinkFooter,
nav,
.navLink,
.skill,
.skillContainer,
.socialBar,
.swiper-button-next,
.swiper-button-prev,
.swiperSlideText {
  display: flex;
}

.itemCategoryRadio,
.textItemReal {
  display: grid;
}

//---- FLEX DIRECTION ----//

.listLinkFooter,
nav,
.skill,
.swiper-button-next,
.swiper-button-prev,
.swiperSlideText {
  flex-direction: column;
}

.containerRealization {
  flex-flow: row wrap;
}

//---- JUSTIFY CONTENT ----//

.containerSvg,
.textItemReal {
  justify-content: center;
}

.navLink,
.socialBar {
  justify-content: flex-end;
}

.containerFooter,
.listLinkFooter,
.swiperSlideText {
  justify-content: space-around;
}

//---- ALIGN ITEMS ----//

.containerSvg,
.skill,
.swiperSlideText,
.textItemReal {
  align-items: center;
}

//---- MEDIA QUERIES ----//

@media screen and (max-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    justify-content: flex-end !important;
  }
}
@media screen and (min-width: 1025px) {
  .swiper-button-next,
  .swiper-button-prev {
    justify-content: center !important;
  }
}
