//----------------------------//
//----------- FONT -----------//
//----------------------------//

//---- FONT FACE ----//

@font-face {
  font-family: "poppins regular";
  src: url("/src/assets/fonts/poppins-regular-webfont.woff") format("woff"),
    url("/src/assets/fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/poppins-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "designer regular";
  src: url("/src/assets/fonts/DESIGNER.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

//---- FONT FAMILY ----//

body,
.swiperSlideText button {
  font-family: "poppins regular", sans-serif;
}

.containerFormContact h2,
.swiperSlideText h2,
.swiperSlideText h3,
.textProject,
.titleRealization h2 {
  font-family: "designer regular";
  font-weight: bold;
}

//---- FONT SIZE ----//

body {
  font-size: 14px;
}

.containerFormContact h2,
.swiperSlideText h2,
.titleRealization h2 {
  font-size: calc(3vw + 3vh);
}

.swiperSlideText h3 {
  font-size: calc(2vw + 2vh);
}

.swiperSlideText button {
  font-size: calc(1.2vw + 1.2vh);
}

.textItemReal a {
  font-size: 0.8em;
}

.skill h4 {
  font-size: 1.2em;
}

.textItemReal h3 {
  font-size: 1.3em;
}

//---- FONT WEIGHT ----//

.skill h4,
.skill button,
.textItemReal a {
  font-weight: bold;
}

//----------------------------//
//----------- TEXT -----------//
//----------------------------//

//---- TEXT ALIGN ----//

.containerFooter h2,
.containerFormContact h2,
.containerTextItemRealization p,
.infoRwf h2,
.skill p,
.swiperContainer,
.textItemReal,
.titleRealization {
  text-align: center;
}

//---- TEXT DECORATION ----//

a {
  text-decoration: none;
}

//---- TEXT TRANSFORM ----//

.containerFooter h2,
.skill h4,
.titleRealization h2 {
  text-transform: uppercase;
}
