//---- PADDING ----//

.svgBtn {
  padding: 5px 10px;
}

.socialBar li {
  padding: 10px;
}

.svgGear {
  padding: 20px;
}

.navLink li {
  padding: 40px 30px;
}

//---- PADDING RIGHT ----//

.socialBar {
  padding-right: 20px;
}
