//---- PADDING ----//

.listLinkFooter li,
.svgBtn {
  padding: 5px 10px;
}

.containerItemReal p {
  padding: 5px 20px;
}

.containerFormContact h3,
.skill h4 {
  padding: 15px 5px;
}

.socialBar li {
  padding: 10px;
}

.textItemReal h3 {
  padding: 10px 0;
}

.textItemReal a {
  padding: 10px 20px;
}

.skillContainer button {
  padding: 15px 40px;
}

footer,
.infoRwf h2,
.svgGear {
  padding: 20px;
}

.navLink li {
  padding: 40px 30px;
}

.titleRealization h2 {
  padding: 50px 0;
}

//---- PADDING RIGHT ----//

.socialBar {
  padding-right: 20px;
}

.containerFooter h2 {
  padding-bottom: 10px;
}
