//---- TEXT COLOR ----//

$main-link-text-color: #1ad507;
$main-link-text-color-2: #1cd50780;
$main-link-text-color-hover: #f7f7f7;

$primary-text-color: black;

//---- BG COLOR ----//

$main-bg-color: #f7f7f7;
$secondary-bg-color: #343434;
