//------------------------//
//-------- STATIC --------//
//------------------------//

//---- ARRAY COLOR ----//

$arrayColor : (
  "white": (
    "0": #f7f7f7
  ),
  "blue": (
    "0": blue
  ),
  "red": (
    "0": red
  ),
  "green": (
    "0": #1ad507,
    "1": #1cd50780
  ),
  "black": (
    "0": black,
    "1": #343434,
    "2": #343434be,
    "3": #000000a4,
    )
    );
    

//---------------------------//
//-------- ANIMATION --------//
//---------------------------//

//---- GRAPH WEB MARKETING ----//

$elt-number                : 8;
$animation-duration        : 0.2s;
$offset                    : $animation-duration * 1.6;

