@font-face {
  font-family: "orbitron regular";
  src: url("/fonts/Orbitron-Regular.woff") format("woff"),
    url("/fonts/orbitron-regular.woff2") format("woff2"),
    url("/fonts/orbitron-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

//---- FONT FAMILY ----//

body {
  font-family: "orbitron regular", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}
