//---- WIDTH ----//

nav {
  width: 100vw;
}

//---- HEIGHT ----//

.svgBtn {
  height: 1em;
}

//---- BG COLOR ----//

.socialBar {
  background-color: $secondary-bg-color;
}

//---- COLOR ----//

.svgBtn {
  color: $main-link-text-color;
}

.svgBtn:hover {
  color: $main-bg-color;
  cursor: pointer;
}

//---- TRANSITION ----//

.svgBtn,
.svgBtn:hover {
  transition: color 0.2s ease-in-out;
}
