.translateGear {
  transform: translate(0, 2%);
}

.translateGear2 {
  transform: translate(-3%, -3%);
}

.translateGear3 {
  transform: translate(-8%, -1%);
}

.gear2 {
  animation: rotate 5s linear infinite;
}

.gearColor {
  color: $main-link-text-color;
}
