.translateGear {
  transform: translate(7%, -1%);
}

.translateGear2 {
  transform: translate(0, -3%);
}

.translateGear3 {
  transform: translate(-0.8%, 2%);
}

.gear2 {
  animation: rotate 5s linear infinite;
}

.gearColor {
  color: $main-link-text-color;
}
