.infoRwf {
  h2 {
    z-index: 2;
  }

  .skillContainer {
    border: 2px solid map-get($arrayColor, "black", "1");
    padding: 30px 50px;

    p {
      display: inline-block;
      height: 100px;
    }

    button {
      @include buttonStyle(20px, 3px);
    }
  }
}
