.textProject {
  // border: 1px solid black;
  width: 100%;
  max-width: 1024px;
  position: relative;
}

.textProjets {
  text-transform: uppercase;
  text-align: center;
}

.textProjets {
  font-size: 4em;
}

.flagFrance {
  position: absolute;
  right: 20px;
  top: 0;
  transform: rotate(-15deg);
  width: 150px;
}
