.textProject {
  border: 1px solid black;
  width: 100%;
  max-width: 1024px;
}

.textProjets {
  text-transform: uppercase;
  text-align: center;
}

.textProjets {
  font-size: 4em;
}

.flagFrance {
  transform: rotate(-15deg);
  width: 150px;
}
